@charset "UTF-8";
.box {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.son {
  width: 50px;
  height: 50px;
  background: red;
  color: red; }

p {
  font: initial bold 20px/20px 微软雅黑;
  color: red; }

p {
  color: red; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/*.1{
  background:url("../img/l1.jpg");
}*/
.l1 {
  background: url("../img/l1.jpg"); }

.l2 {
  background: url("../img/l2.jpg"); }
